<!-- <div class="todo-card" *ngFor="let element of todos">
  <div class="todo-card__title">{{ element.title }}</div>
  <div class="todo-card__date">{{ element.date }}</div>
  <div class="todo-card__description">
    {{ element.description }}
  </div>
</div> -->
<app-todo-card
  (displayTodo)="onDisplayTodo($event)"
  [currentTodo]="element"
  *ngFor="let element of todos"
></app-todo-card>
<!-- 
<app-todo-card [currentTodo]="todos[0]"></app-todo-card>
<app-todo-card [currentTodo]="todos[1]"></app-todo-card>
<app-todo-card [currentTodo]="todos[2]"></app-todo-card>
<app-todo-card [currentTodo]="todos[3]"></app-todo-card> -->
