%btn {
  display: inline;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 3px;

  text-decoration: none;
  color: $dark-color;
}

.btn-primary {
  @extend %btn;
  @include set-background($primary-color);
}

.btn-secondary {
  @extend %btn;
  @include set-background($secondary-color);
}
