@import "./config";
@import "./utility";
@import "./buttons";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

.header {
  // background-color: $dark-color;
  // color: $light-color;

  // background-color: $light-color;
  // color: set-text-color($light-color);

  @include set-background($light-color);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-list {
      display: flex;
      list-style: none;

      &-item {
        padding: 15px;
        color: $light-color;
        font-weight: bold;
        a {
          text-decoration: none;
          color: set-text-color($light-color);
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  &__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50%;
    }
    h1 {
      font-size: 48px;
      line-height: 1.2;
    }
  }
}

img {
  width: 100%;
}
